// SASS file with all styles
// @import "modules/grid";
@import "modules/bootstrap";
$color: #ffccdd;
$mainRed: #f2786a;
$textRed: #d35252;
$mainYellow: #ffb752;
$mainPale: #f8f8f7;
$mainGrey: #f1f1f1;
$darkGrey: #d9d9d9;
$grey: #e8e8e8;

* {
  // border: 1px solid $color;
  //  font-family: 'Comfortaa', cursive;
   font-family: 'Lato', sans-serif;
  //  margin-top: 2px;
  //  padding: 2px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.container {
  height: 100vh;
  border: 2px solid #555555;
  background-color: $mainRed;
}
.first , .second , .firth  {
  height: 7%;
}

header {
  padding-top: 10px;
  padding-left: 18px;
  padding-bottom: 10px;
  background-color: $mainRed;
}

.title {
  font-size: 20px;
  height: 100%;
  color: $textRed;
  text-transform: uppercase;

  span {
    font-weight: bold;
    color: $mainRed;
    text-shadow: -1px 0 $textRed, 0 1px $textRed, 1px 0 $textRed, 0 -1px $textRed;
  }
}

.filters {
  height: 100%;

  background-color: $mainYellow;
  text-transform: uppercase;
  color: $mainPale;
  font-size: 14px;
  position: relative;

}
#labelWhere {
  margin-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  // display: inline-block;
  // position: absolute;
  // z-index: 1;
}

#where {
  margin-left: 18px;
  height: 100%;
  width: 220px;
  background-color: $mainGrey;
  border: 0;
  padding-left: 20px;
  margin-right: 0;
  font-size: 14px;
  display: inline-block;
  // position: absolute;

}

#find {
  height: 100%;
  width: 2em;
  // max-width: 40px;
  font-size: 30px;
  background-color: #784754;
  color: $grey;
  border: 0;
  position: absolute;
  // z-index: 1;
}

section.third {
  height: 78%;

  .articles {
    height: 100%;

    .row{
      height: 100%;

      article {
        height: 25%;
        background-color: $mainGrey;
        border: 5px solid $grey;
        // border-radius: 2px;
        padding-top: 20px;
        padding-left: 20px;

        .cafe-name {
          color: #555555;
        }

        .cafe-address {
          color: #aaaaaa;
        }
      }

    }
  }

  .map {
    height: 100%;
    #map {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

}


footer {
  background-color: $mainRed;
  // padding-top: 2px;
}

img {
  width: 30px;
  height: 30px;
}
.media {
  padding-top: 10px;
}

.small {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 18px;
}

.copy {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 14px;
}
