@import	"./modules/variables";
@import "./modules/base";
@import "./modules/layout";
@import "./modules/paddings";
@import "./modules/colors";
header {

  .title {
    font-size: 20px;
    text-transform: uppercase;

    span:last-child {
      font-weight: bold;
    }
  }
}

.filters {
  text-transform: uppercase;

  #labelWhere {
  }

  #where {
    font-size: 14px;
    text-transform: uppercase;
    border: 0;

    &:focus { // input - remove blue shine when focus
      outline-style: none;
      border: 0;
    }
  }

  #find {
    font-size: 30px;
    border: 0;
  }
}


.content {
  .cafes {
    article {
      height: 25%;
      border-radius: 2px;

      .cafe-name {
      }

      .cafe-address {
      }
    }
  }
  .map {
  }
}

footer {
  .copy{
  }

  .media{
  }

  .title-small {
  }
}
