/* varaibles use in project */

//colour of the header and footer stripe
$color-main-red: #f2786a;
$color-text-red: #d35252;

// colours of the backgorund filter
$color-main-yellow: #ffb752;
$color-text-pale: #f8f8f7; // filter text

// colour of the cafes background and input "where"
$color-main-grey: #f1f1f1;
// colour of button find
$color-button: #784754;
// colour of cafes border and button find char
$color-grey: #e8e8e8;

// colours of the cafes text
$color-text-darkGrey: #555555; // name
$color-text-grey: #aaaaaa ; //address



/* units */
